<div class="row">
    <div class="banner col-xs-12">
        <div class="global-header col-xs-12">
            <h1>Gastos</h1>
        </div>
        <div class="body col-xs-12">
            <div class="components col-xs-6 col-md-4">
                <h2>Gastos fijos</h2>
                <p class="description">Te permite añadir un nuevo ingreso recurrente, el cual se calculará de forma automática una vez guardado.</p>
            </div>
            <div class="components col-xs-6 col-md-4">
                <h2>Gastos variables</h2>
                <p class="description">Te permite añadir un nuevo ingreso variable, el cual agregará al cálculo por una única ocasión.</p>
            </div>
        </div>
    </div>
</div>